* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  list-style: none;
}

main {
  height: 100vh;
  background: linear-gradient(45deg, rgb(69, 150, 255),rgb(255, 209, 60));
  animation: bgColor 10s infinite alternate;
  background-size: 400%;
}

@keyframes bgColor {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

#addBookForm {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 30px;
}

#addBookForm label {
  margin: 0px 20px 0px 20px;
}

#addBookForm input {
  padding: 5px;
  margin: 0px 20px 20px 20px;
}

#submit {
  width: 100px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgb(0, 0, 0);
}

#submit:hover, 
#submit:focus {
  background: rgb(255, 158, 31);
  box-shadow: 2px 2px 2px rgb(62, 255, 181);
}

#submit:active {
  box-shadow: none;
  background: rgb(177, 177, 177);
}

#libraryTable {
  border-collapse: collapse;
  margin-left: 20px;
}

#libraryTable, #libraryTable th, #libraryTable td {
  border: 1px solid rgb(0, 0, 0);
  padding: 10px;
}

#tbody .delete {
  font-size: 1.5em;
  font-weight: bold;
  padding: 5px;
  box-shadow: inset -1px -1px 2px rgb(0, 0, 0);
  background: rgb(221, 221, 221);
  color: rgb(255, 24, 24);
  border-radius: 3px;
}

#tbody .delete:hover, 
#tbody .delete:focus {
  background: rgb(52, 140, 255);
}

#tbody .read {
  background: rgb(127, 255, 0);
}

#tbody .readButton {
  font-size: 1em;
  padding: 5px;  
  transform: translateY(-10%);
  color: rgb(0, 0, 0);
  border-radius: 3px;
}

#tbody .notPressedReadButton {
  box-shadow: inset -1px -1px 2px rgb(0, 0, 0);
  background: rgb(60, 255, 11);
}

#tbody .pressedReadButton {
  background: rgb(197, 197, 197);
  box-shadow: inset 1px 1px 2px rgb(0, 0, 0);
}

#tbody .fall {
  animation: fall 0.3s;
}

@keyframes fall {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    transform: translateY(3em);
  }
}