* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  list-style: none;
}

body {
  height: 100vh;
  background: linear-gradient(45deg, rgb(255, 202, 29), rgb(29, 255, 199));
}

#addBookForm {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#addBookForm input {
  padding: 5px;
  margin: 0px 20px 20px 20px;
}

#submit {
  width: 100px;
}

#libraryTable {
  border-collapse: collapse;
  margin-left: 20px;
}

#libraryTable, #libraryTable th, #libraryTable td {
  border: 1px solid rgb(0, 0, 0);
  padding: 5px;
}