* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  list-style: none;
}

body {
  height: 100%;
  background: linear-gradient(45deg, rgb(255, 202, 29), rgb(29, 255, 199));
}

#addBookForm {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#addBookForm input {
  padding: 5px;
  margin: 0px 20px 20px 20px;
}

#submit {
  width: 100px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgb(0, 0, 0);
}

#submit:hover {
  background: rgb(255, 158, 31);
  box-shadow: 2px 2px 2px rgb(62, 255, 181);
}

#submit:active {
  box-shadow: none;
  background: rgb(177, 177, 177);
}



#libraryTable {
  border-collapse: collapse;
  margin-left: 20px;
}

#libraryTable, #libraryTable th, #libraryTable td {
  border: 1px solid rgb(0, 0, 0);
  padding: 5px;
}